/* color palette */
:root {
  --color-test: #6c99bb;

  --color-grey-dark: #2e2e2e;
  --color-grey-mild: #797979;
  --color-grey-light: #d6d6d6;
  --color-grey-vibrant: #f0f0f0;

  --color-orange-mild: #e87d3e;
  --color-yellow-mild: #e5b567;
  --color-green-light: #b4d273;
  --color-purple-mild: #9e86c8;
  --color-pink-dark: #b05279;
  --color-blue-mild: #6c99bb;

}

/* semantic colors by theme*/
[theme="themedark"] {
  --main-bg-color: var(--color-grey-dark);
}

[theme="themelight"] {
  --main-bg-color: var(--color-grey-vibrant);
}