@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
}

.div-content {
  padding: 1em;
  color: var(--main-color);
}

a {
  color: var(--color-green-mild);
  text-decoration: none;
}

h1 {  
  text-align: center;
}

p {
  font-size: 1.1em;
  text-align: justify;
}