@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
}

.div-content {
  padding: 1em;
  color: var(--main-color);
}